.App {
  text-align: center;
}

.App-logo {
  height: 60vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 15s linear;
  }
}

.App-header {
  background-color:#3d9c90;
  min-height: 92vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white; 
}

.App-link {
  color: #61dafb;
}
.App-Cuerpo {
  background-color:#3d9c90;
  min-height: 30vh;
  min-width: 40vh;
  font-size: calc(1px + 2vmin);
  font-family: 'Times New Roman', Times, serif;
  font-style: normal;
  color: rgb(216, 220, 226); 
  border: black 4px solid;
  margin: 50px;
  
}
.App-Menu {
  background-color: #3d9c90;
  min-height: 8vh;
  display: flex;
  flex-direction: row;
  align-items: right;
  justify-content: right;
  font-size: calc(4px + 2vmin);
  color: white; 
}
.App-MenuB {
  background-color: white;
  min-height: 8vh;
  align-items: center;
  justify-content: center;
  font-size: calc(6px + 2vmin);
  color: white; 
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
